@use "sass:string";
@use "sass:color";
@use "colors.scss" as *;

.applauncher-container {
  font-size: 4rem;
  min-height: 550px;
  min-width: 420px;
  background: $surface_transparent;
  padding: 5px;
  border-radius: 30px;
  box-shadow: 8px 8px 2px 1px $surface_bright;

  .background-entry {
    border-radius: 20px;
    // background: $primary;
  }

  > overlay {
    margin-top: 6px;

    entry {
      outline: none;
      background: transparent;
      // padding: 20px;
      background: none;
      border: none;
      outline: none;
      caret-color: $on_surface;
      color: $on_surface;
      margin-top: 2px;
      margin-left: 10px;
      margin-right: 10px;
      padding: 0px;
      border-radius: 0px;
      border-bottom: 1px solid $inverse_surface_transparent;
      // border-top: 1px solid $inverse_surface_transparent;
      box-shadow: none;

      image {
        -gtk-icon-size: 1.5rem;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
        // border-radius: 20px;
      }

      text {
        font-size: 1.2rem;
        font-weight: 500;
        color: $on_surface;

        placeholder {
          font-size: 1.2rem;
          color: $on_surface;
        }
      }
    }
  }

  .entry-overlay {
    color: $on_surface;
  }

  > scrolledwindow viewport {
    padding: 10px;
    padding-top: 2px;

    box {
      outline-width: 2px;

      .not-found label {
        font-size: 1rem;
      }
    }
  }

  .app-button {
    -gtk-icon-size: 2rem;
    min-height: 60px;
    padding: 0.2rem 0.4rem;
    color: $on_surface;
    border-radius: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
    box-shadow: -8px 8px 2px 1px $surface_bright;

    background-color: $inverse_surface_transparent;
    image {
      margin-right: 6px;
      margin-left: 0.5rem;
    }

    &:active {
      > * {
        transform: none;
      }

      image {
        transform: scale(0.85);
      }
    }

    &:focus {
      outline-color: $primary;
      background: $primary;
      color: $on_primary;
    }

    &:hover {
      background-color: $surface;
      color: $on_surface;
    }

    .description {
      // color: $on_surface;
      font-size: 0.85rem;
      font-weight: 400;
    }
  }
}
