@use "sass:string";
@use "sass:color";
@use "colors.scss" as *;

.bar-container {
  background: $surface_transparent;
  color: $on_surface;
  min-height: 30px;
  padding: 2px;
  font-size: 14px;
  font-weight: 500;
  padding-left: 7px;
  padding-right: 7px;

  separator {
    min-width: 5px;
  }

  .workspace-container {
    padding: 0;

    .workspace-button {
      min-width: 8px;
      min-height: 8px;
      transition: all 0.2s;
      background-color: $inverse_surface_transparent_variant;
      border-radius: 9999px;

      &.active {
        min-width: 2.2rem;
        min-height: 1rem;
        background-color: $primary;
      }

      &.occupied {
        box-shadow: unset;
        background-color: color.scale($primary, $alpha: -20%);

        &.active {
          background-color: $primary;
        }
      }
    }
  }
}

.bar__battery {
  min-height: 30px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  // background: $primary_container;
  // color: $on_primary_container;
}

.workspace-button-bg {
  color: $on_surface;
  // min-height: 20px;
  border-radius: 30px;
  padding: 0 5px;
  // margin-top: 2px;
  margin-bottom: 2px;
}

.applauncher-bg {
  color: $on_surface;
  // min-height: 20px;
  // min-width: 20px;
  border-radius: 20px;
  padding: 0 7px;
  margin-top: 1px;
  margin-bottom: 2px;

  transition:
    background-color 0.2s ease-in-out,
    color 0.2s ease-in-out;

  &.notifications {
    color: $on_surface;

    .circle {
      border-radius: 99px;
    }
  }

  &:hover {
    background:
      $inverse_surface_transparent, $inverse_surface_transparent_overlay;
  }

  &.active {
    background-color: $primary;
    color: $on_primary;
  }
}
.powermenus-bg {
  color: $on_surface;
  // min-height: 20px; /* 更改为与其他按钮相同的高度 */
  border-radius: 20px;
  padding: 0 5px;
  // margin-top: 5px;
  margin-bottom: 2px;

  transition:
    background-color 0.2s ease-in-out,
    color 0.2s ease-in-out;

  &.notifications {
    color: $on_surface;

    .circle {
      border-radius: 99px;
    }
  }

  &:hover {
    color: $red;
  }

  &.active {
    color: $red;
  }
}
.netspeed-bg {
  color: $on_surface;
  // min-height: 20px;
  // min-width: 20px;
  border-radius: 10px;
  padding: 0 5px;
  // margin-top: 5px;
  margin-bottom: 2px;
}

.panel-button {
  color: $on_surface;
  // min-height: 20px;
  border-radius: 20px;
  padding: 0 7px;
  // margin-top: 5px;
  margin-bottom: 2px;

  transition:
    background-color 0.2s ease-in-out,
    color 0.2s ease-in-out;

  .clock-notificount {
    color: $primary;
    font-size: 11px;
    margin-bottom: 10px;
    margin-left: 0.5rem;
  }
  &.notifications {
    color: $on_surface;

    .circle {
      border-radius: 99px;
    }
  }

  &:hover {
    background:
      $inverse_surface_transparent, $inverse_surface_transparent_overlay;
  }

  &.active {
    background-color: $primary;
    color: $on_primary;
    .clock-notificount {
      color: $on_primary;
      font-size: 11px;
      margin-bottom: 10px;
      margin-left: 0.5rem;
    }
  }
}

.tray_style {
  color: $on_surface;
  // min-height: 20px;
  border-radius: 20px;
  padding: 0 7px;
  // margin-top: 5px;
  margin-bottom: 2px;
}
.notificount-bg {
  min-height: 5px;
  padding-left: 5px;
  padding-right: 5px;
  // margin-top: 6px;
  margin-bottom: 2px;
}
menubutton {
  padding: 0 5px;
  min-height: 20px;
  min-width: 25px;
  border-radius: 100px;

  button {
    padding: unset;
    margin: unset;

    &:hover {
      border-radius: 100px;
    }
  }
}
.runningapps {
  border-radius: 100px;
  // font-weight: 500;
  background-color: transparent;
  padding-left: 7px;
  padding-right: 7px;
  margin-bottom: 2px;
  // padding: 2px;
}
.runningapps:hover {
  background-color: $inverse_surface_transparent;
}
.record-icon {
  color: $red;
}
