@use "sass:string";
@use "colors.scss" as *;
@use "sass:color";
.osd-window {
  background-color: $surface_transparent;
  // min-width: 400px;
  // min-height: 40px;
  border-radius: 9999px;
  padding: 5px;
  margin-bottom: 20px;
  box-shadow: 8px 8px 2px 1px $surface_bright;
}

.osd-box {
  padding: 10px;
  border-radius: 10px;
  color: $on_surface;
  background-color: transparent;
}

.osd-icon {
  // background-color: $inverse_surface_transparent_variant;
  color: $on_surface;
  // padding-left: 10px;
  // padding-right: 10px;
  border-radius: 10px;
  // margin: 1em 2em;
}

@mixin rounded-full {
  border-radius: 9999px;
}
.osd-bar {
  // min-height: 30px;
  // margin-top: 10px;
  // margin-bottom: 10px;
  // min-width: 100px;
  padding-top: 10px;
  min-height: 10rem;
  // color: $inverse_surface_transparent;

  // scale {
  //   * {
  //     @include rounded-full;
  //   }
  //
  //   $width: 0.25em;
  //
  //   trough {
  //     min-height: $width;
  //     min-width: $width;
  //     background-color: $inverse_surface_transparent;
  //
  //     highlight,
  //     progress {
  //       background-color: $primary;
  //       min-height: $width;
  //       min-width: $width;
  //     }
  //   }
  //
  //   slider {
  //     background-color: $on_surface;
  //     min-height: $width;
  //     min-width: $width;
  //     margin: -0.5em;
  //   }
  // }
}
