@use "sass:string";
@use "colors.scss" as *;

.powermenu {
  padding: 24px;
  border-radius: 30px;
  background: $surface_transparent;
  box-shadow: 8px 8px 2px 1px $surface_bright;
}

.powermenu__button {
  padding: 0;
  background: $inverse_surface_transparent;
  color: $on_surface;
  min-width: 100px;
  min-height: 100px;
  border-radius: 100px;

  &:hover,
  &:focus {
    color: $on_primary;
    background: $primary, $inverse_surface_transparent_variant_overlay;
  }

  &:focus {
    box-shadow: 0 0 0 1px $inverse_surface;
    color: $on_surface;
  }

  &:active {
    background: $primary, $inverse_surface_transparent_overlay;
    color: $on_primary;
  }
}

.verification {
  min-width: 300px;
  padding: 24px;
  border-radius: 30px;
  background: $surface_transparent;
  box-shadow: 8px 8px 2px 1px $surface_bright;
}

.verification__title {
  font-size: 20px;
  color: $on_surface;
  font-weight: 500;
}

.verification__description {
  font-size: 16px;
  color: $on_surface;
  font-weight: 400;
}

.verification-container {
  min-width: 300px;
  padding: 24px;
  border-radius: 30px;
  background: $surface_transparent;
  color: $on_surface;
  box-shadow: 8px 8px 2px 1px $surface_bright;

  .title {
    font-size: 20px;
    color: $on_surface;
    font-weight: 500;
  }

  .body {
    font-size: 16px;
    font-weight: 400;
    color: $on_surface;
  }

  .buttons {
    button {
      background-color: $inverse_surface_transparent;
      color: $on_surface;
      min-width: 70px;
      min-height: 28px;
      border-radius: 20px;
      padding: 0.2rem;

      &:focus {
        outline-color: $on_surface;
      }

      &:focus {
        background: $secondary;
        color: $on_secondary;
      }
    }

    button:last-child {
      color: $red;

      &:focus {
        color: $on_red;
      }
    }
  }
}

.powermenu-container {
  padding: 24px;
  border-radius: 30px;
  background: $surface_transparent;
  color: $on_surface;
  box-shadow: 8px 8px 2px 1px $surface_bright;

  flowboxchild {
    outline: unset;
    padding: 0;
    min-height: 100px;
    border-radius: 100px;
    min-width: 100px;

    image {
      // margin-top: 20px;

      color: $on_surface;
    }

    &:selected {
      // outline: unset;
      // box-shadow: 0 0 0 2px $on_surface;
      color: $primary;
      border-radius: 100px;
      background-color: $primary;

      button,
      image {
        // margin-top: 10px;
        color: $on_primary;
      }

      label {
        color: $on_primary;
      }
    }
  }

  .system-button {
    background-color: $inverse_surface_transparent;
    // color: $on_surface;
    // padding: 0.7rem;
    border-radius: 100px;
  }
}
