@use "sass:color";
@use "colors.scss" as *;

.wallpaperpicker-container {
  min-height: 150px;
  border-radius: 20px;
  min-width: 125rem;
  padding: 10px;
  background-color: $surface_transparent;
  color: $on_surface;
  box-shadow: 0px 8px 2px 1px $surface_bright;

  > box {
    margin: 10px;
    // margin-top: 0.5rem;
    margin-bottom: 0.5rem;

    label {
      font-size: 1.2rem;
      color: $on_surface;

      &.directory {
        font-size: 0.95rem;
        font-weight: 400;
        color: $on_surface;
        font-style: italic;
      }
    }

    button {
      background-color: $inverse_surface_transparent;
      color: $on_surface;
      padding: 0 0.6rem;

      &:hover {
        color: $on_secondary;
        background-color: $secondary;
      }
    }
  }

  separator {
    margin: 10px;
    margin-top: 0;
    margin-bottom: 0;
    background-color: $inverse_surface_transparent;
    color: $inverse_surface_transparent;
  }

  scrolledwindow viewport {
    > box {
      margin: 10px;
      margin-top: 6px;
    }
  }
  .wall-button {
    border-radius: 10px;
    border: 2px solid transparent;
    background-size: contain;
    &:hover {
      border: 2px solid $primary;
    }
    &:focus {
      border: 2px solid $primary;
    }
    &:active {
      border: 2px solid $primary;
    }
    &:last-child {
      &:focus {
        border: 2px solid $primary;
      }
    }
  }
  picture {
    border-radius: 8px;
    // border: 2px solid transparent;
    background-size: contain;
  }
  // picture:hover {
  //   border: 2px solid $primary;
  // }
  // picture:selected {
  //   border: 2px solid $primary;
  // }
  // picture.selected {
  //   border: 2px solid $primary;
  // }
  // picture:active {
  //   border: 2px solid $primary;
  // }
}
